<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<div id="about" class="page container article section-bg" style="padding-bottom: 2rem;">
    <div class="section-title">
        <h1 class="text-center" style="margin: 7rem 0 2rem 0; padding-top: 2rem;">Donate</h1>
        </div>
    </div>
    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-1ac7914eb805456857b7">
        <div class="sqs-block-content">
          <h2 style="text-align:center;white-space:pre-wrap;">Lytle Animal Allies</h2>
          <h1 style="text-align:center;white-space:pre-wrap;">Animal wellness advocates.</h1>
          <p style="text-align:center;white-space:pre-wrap;" class="">We help support local shelters with donations and pet owners with food, spay and neutering.</p>
        </div>
      </div>
      <div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_1_1595254516464_14065">
        <div class="sqs-block-content">
          <div class="sqs-block-button-container--center" data-animation-role="button" data-alignment="center" data-button-size="medium"> <a href="https://www.paypal.com/cgi-bin/webscr?bn=PP-DonationsBF%3Abtn_donateCC_LG.gif%3ANonHosted&business=lytleanimalallies%40yahoo.com&cmd=_donations&cn=&curency_code=USD&item_name=Support%20Lytle%20Animal%20Allies%28idg4973%29&lc=US&no_note=0" class="sqs-block-button-element--medium sqs-block-button-element" target="_blank">Donate Now</a> 
            </div>
        </div>
      </div>
</div>
<%- include('partials/footer.ejs') %>