<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<div id="about" class="page container article section-bg" style="padding-bottom: 2rem;">
    <div class="section-title">
        <h1 class="text-center" style="margin: 7rem 0 2rem 0; padding-top: 2rem;">Donate</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Animal wellness advocates.</h2>
            <h4 class="text-center">We help support local shelters with donations and pet owners with food, spay and
                neutering.</h4>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <span>
                <h5 class="text-center mb-3">Donate</h5>
                <a href="https://www.paypal.com/cgi-bin/webscr?bn=PP-DonationsBF%3Abtn_donateCC_LG.gif%3ANonHosted&business=lytleanimalallies%40yahoo.com&cmd=_donations&cn=&curency_code=USD&item_name=Support%20Lytle%20Animal%20Allies%28idg4973%29&lc=US&no_note=0"
                    target="_blank">
                    <img class="mx-auto d-block"
                        src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_111x69.jpg" alt="PayPal Logo">
                </a>
            </span>
        </div>
        <div class="col-md-6">
            <h5 class="text-center mb-3">Shop For Us</h5>
            <a href="http://smile.amazon.com/ch/XX-XXXXXXX">
                <img class="mx-auto d-block" src='https://d1ev1rt26nhnwq.cloudfront.net/ccmtblv2.png' id="banner"
                    width="200" style="border-style: none;" />
                <table
                    style="position: relative; text-align: center; width: 12.5rem; top: -6.25rem; height: 2rem; vertical-align: middle; left: 10.5rem;">
                    <tr>
                        <td style="vertical-align: middle">
                            <div style="max-height: 54px; padding-left: 5px; padding-right: 5px;">
                                <span style="font-family: Arial; font-size: 14px; line-height: 16px;"
                                    class="charityNameSpan">Lytle Animal Allies</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </a>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>