<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    
    <table>
        <tr>
            <th>Name</th>
            <th>Slug</th>
            <th>Description</th>
        </tr>
        <% for (c of categories) {%>
        <tr>
            <td><%= c.name %></td>
            <td><%= c.slug %></td>
            <td><%= c.description %></td>
        </tr> 
        <% } %>
    </table>
</body>
</html>