<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<div id="about" class="page container article section-bg" style="padding-bottom: 2rem;">
    <div class="section-title">
        <h1 class="text-center" style="margin: 7rem 0 2rem 0; padding-top: 2rem;">Volunteer</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-center">Shelter Volunteer</h5>
            <p>With our new animal control facility the need arose for a group of volunteers to support the operations of the facility. Animal Facility Volunteers perform a wide range of duties. Some of those duties include:</p>
            <ul>
                <li>Assist with paperwork</li>  
                <li>Bathing Dogs</li>
                <li>Cat Socialization</li>
                <li>Cleaning Cattery (litter box detail)</li>
                <li>Cleaning Dog Kennels (including poop removal)</li>
                <li>Dog Walking</li>
                <li>Educational presentations - distributing good pet ownership literature, etc.</li>
                <li>Facility Cleaning</li>
                <li>Fundraising</li>
                <li>Grooming Dogs/Cats</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h5 class="text-center">Foster Home</h5>
            <p>Lytle Animal Allies need short-term foster for several dogs/puppies that have been adopted and are awaiting transport. These animals have a home on the east coast waiting for
                them but they might need another set of vaccines or
                be a little older before the can go on transport. usually
                the time commitment would be 2 to 3 weeks.
                
                If you are interested in fostering here are the requirements:
                
                1. Complete the foster agreement at our facility. At that time all requirements will be explained
                
                2. Be 21 years of age or over
                
                3. Have a secure fenced in yard
                
                4. Agree to a home/yard check by our staff (we are not looking for dirt only secure, safe place for our dogs)
                 
                
                Our facility would provide all food and medical care.
                You would provide a loving, safe environment for these
                animals. The dogs would learn what it is like to live in
                a home, not a kennel. This is vital when they go into
                their own homes.
                This is a great way to have a dog in your home but not
                have a long term commitment. It is also great for the
                dog.
                </p>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>